net/SMG.Web/App_WebReferences/AltaInteraccion/AltaInteraccionAccionCallback.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns3="http://fwk2.iberdrola.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns2="http://valor.vcm.intra.app.delta.iberdrola.com" xmlns:impl="http://ejb.vcm.intra.app.delta.iberdrola.com" xmlns:tns4="http://exceptions.ejb.vcm.intra.app.delta.iberdrola.com" xmlns:intf="http://ejb.vcm.intra.app.delta.iberdrola.com" targetNamespace="http://ejb.vcm.intra.app.delta.iberdrola.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://ejb.vcm.intra.app.delta.iberdrola.com" elementFormDefault="qualified" targetNamespace="http://valor.vcm.intra.app.delta.iberdrola.com">
      <xsd:complexType name="ParamArqSICWS">
        <xsd:sequence>
          <xsd:element name="cliente" nillable="true" type="xsd:string" />
          <xsd:element name="codContrata" nillable="true" type="xsd:string" />
          <xsd:element name="codEntidadDgada" nillable="true" type="xsd:string" />
          <xsd:element name="codGrupo" nillable="true" type="xsd:string" />
          <xsd:element name="codOrganInter" nillable="true" type="xsd:string" />
          <xsd:element name="codProcto" nillable="true" type="xsd:string" />
          <xsd:element name="codProyecto" nillable="true" type="xsd:string" />
          <xsd:element name="codResponsable" nillable="true" type="xsd:string" />
          <xsd:element name="tipOrgInterna" nillable="true" type="xsd:string" />
          <xsd:element name="tipOrgEmpresa" nillable="true" type="xsd:string" />
          <xsd:element name="tipPerfil" nillable="true" type="xsd:string" />
          <xsd:element name="accionNegocio" nillable="true" type="xsd:string" />
          <xsd:element name="accionUsuario" nillable="true" type="xsd:string" />
          <xsd:element name="claveEntidad" nillable="true" type="xsd:string" />
          <xsd:element name="claveEntidadAdi" nillable="true" type="xsd:string" />
          <xsd:element name="codAplicacion" nillable="true" type="xsd:string" />
          <xsd:element name="codCondicionSegurid" nillable="true" type="xsd:string" />
          <xsd:element name="codEntorno" nillable="true" type="xsd:string" />
          <xsd:element name="codErrorSeguridad" nillable="true" type="xsd:string" />
          <xsd:element name="codIdiomaParam" nillable="true" type="xsd:string" />
          <xsd:element name="codOrden" nillable="true" type="xsd:string" />
          <xsd:element name="codPerfilTarea" nillable="true" type="xsd:string" />
          <xsd:element name="codSistema" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad1" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad10" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad2" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad3" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad4" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad5" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad6" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad7" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad8" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad9" nillable="true" type="xsd:string" />
          <xsd:element name="codSubsistema" nillable="true" type="xsd:string" />
          <xsd:element name="contacto" nillable="true" type="xsd:string" />
          <xsd:element name="entidad" nillable="true" type="xsd:string" />
          <xsd:element name="indCerrarTarea" nillable="true" type="xsd:string" />
          <xsd:element name="indEntornoValidado" nillable="true" type="xsd:string" />
          <xsd:element name="indFinAccionUsu" nillable="true" type="xsd:string" />
          <xsd:element name="indSuperUsuario" nillable="true" type="xsd:string" />
          <xsd:element name="perfilDatos" nillable="true" type="xsd:string" />
          <xsd:element name="perfilRoles" nillable="true" type="xsd:string" />
          <xsd:element name="procedimiento" nillable="true" type="xsd:string" />
          <xsd:element name="tarea" nillable="true" type="xsd:string" />
          <xsd:element name="usuario" nillable="true" type="xsd:string" />
          <xsd:element name="indFinAccionUsuario" nillable="true" type="xsd:string" />
          <xsd:element name="grupoSocietario" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AltaInteraccionAccionCallbackEJBWSVO">
        <xsd:sequence>
          <xsd:element name="codInteracCli" nillable="true" type="xsd:double" />
          <xsd:element name="codCliente" nillable="true" type="xsd:string" />
          <xsd:element name="fechaCallback" nillable="true" type="xsd:string" />
          <xsd:element name="horaCallback" nillable="true" type="xsd:string" />
          <xsd:element name="fechaHoraInteraccion" nillable="true" type="xsd:string" />
          <xsd:element name="tipCanal" nillable="true" type="xsd:string" />
          <xsd:element name="codIdentCanal" nillable="true" type="xsd:string" />
          <xsd:element name="codAccionCliente" nillable="true" type="xsd:double" />
          <xsd:element name="codUsuarioInteraccion" nillable="true" type="xsd:string" />
          <xsd:element name="codMotAccCli" nillable="true" type="xsd:string" />
          <xsd:element name="codTipAccCli" nillable="true" type="xsd:string" />
          <xsd:element name="codSubtipAccCli" nillable="true" type="xsd:string" />
          <xsd:element name="tipEstAccionCli" nillable="true" type="xsd:string" />
          <xsd:element name="codClaveEntidad" nillable="true" type="xsd:string" />
          <xsd:element name="codEntidad" nillable="true" type="xsd:string" />
          <xsd:element name="codClaEntAdicio" nillable="true" type="xsd:string" />
          <xsd:element name="codSociedad" nillable="true" type="xsd:short" />
          <xsd:element name="desComentario" nillable="true" type="xsd:string" />
          <xsd:element name="codCallbackCli" nillable="true" type="xsd:string" />
          <xsd:element name="telefonoContacto" nillable="true" type="xsd:string" />
          <xsd:element name="estado" nillable="true" type="xsd:string" />
          <xsd:element name="asignacionDepto" nillable="true" type="xsd:string" />
          <xsd:element name="comentario" nillable="true" type="xsd:string" />
          <xsd:element name="indAltaCallback" nillable="true" type="xsd:string" />
          <xsd:element name="indModifMovil" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CodigoInteraccionAccionCallbackEJBWSVO">
        <xsd:sequence>
          <xsd:element name="fechaHoraInter" nillable="true" type="xsd:string" />
          <xsd:element name="codInteraccion" nillable="true" type="xsd:double" />
          <xsd:element name="codAccionCliente" nillable="true" type="xsd:double" />
          <xsd:element name="codCallbackCli" nillable="true" type="xsd:double" />
          <xsd:element name="indModifTfno" nillable="true" type="xsd:string" />
          <xsd:element name="beanArqRetWs" nillable="true" type="tns3:BeanArqRetWS" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://ejb.vcm.intra.app.delta.iberdrola.com" elementFormDefault="qualified" targetNamespace="http://ejb.vcm.intra.app.delta.iberdrola.com">
      <xsd:element name="altaInteraccionAccionCallback">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="beanArq" nillable="true" type="tns2:ParamArqSICWS" />
            <xsd:element name="altaInteraccionAccionCallbackEJBVO" nillable="true" type="tns2:AltaInteraccionAccionCallbackEJBWSVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="altaInteraccionAccionCallbackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="altaInteraccionAccionCallbackReturn" nillable="true" type="tns2:CodigoInteraccionAccionCallbackEJBWSVO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://ejb.vcm.intra.app.delta.iberdrola.com" elementFormDefault="qualified" targetNamespace="http://fwk2.iberdrola.com">
      <xsd:complexType name="BeanArqRetWS">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="listaMensajes" nillable="true" type="tns3:MensajeArqWS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MensajeArqWS">
        <xsd:sequence>
          <xsd:element name="codMensaje" nillable="true" type="xsd:string" />
          <xsd:element name="codNivel" nillable="true" type="xsd:string" />
          <xsd:element name="datoEntidad" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://ejb.vcm.intra.app.delta.iberdrola.com" elementFormDefault="qualified" targetNamespace="http://exceptions.ejb.vcm.intra.app.delta.iberdrola.com">
      <xsd:complexType name="FaltanTodosDatosObliWSException">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="FaltanTodosDatosObliWSException" nillable="true" type="tns4:FaltanTodosDatosObliWSException" />
      <xsd:complexType name="NoHayDatosWSException">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="NoHayDatosWSException" nillable="true" type="tns4:NoHayDatosWSException" />
      <xsd:complexType name="ParametroNuloWSException">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ParametroNuloWSException" nillable="true" type="tns4:ParametroNuloWSException" />
      <xsd:complexType name="ValidacionInteraccionAccionCallbackWSException">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidacionInteraccionAccionCallbackWSException" nillable="true" type="tns4:ValidacionInteraccionAccionCallbackWSException" />
      <xsd:complexType name="EstadoAccionCallbackWSException">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="EstadoAccionCallbackWSException" nillable="true" type="tns4:EstadoAccionCallbackWSException" />
      <xsd:complexType name="BeanArquitecturaNuloWSException">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BeanArquitecturaNuloWSException" nillable="true" type="tns4:BeanArquitecturaNuloWSException" />
      <xsd:complexType name="AlarmFechaInferiorFechaDiaWS">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AlarmFechaInferiorFechaDiaWS" nillable="true" type="tns4:AlarmFechaInferiorFechaDiaWS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BeanArquitecturaNuloWSException">
    <wsdl:part name="fault" element="tns4:BeanArquitecturaNuloWSException" />
  </wsdl:message>
  <wsdl:message name="altaInteraccionAccionCallbackResponse">
    <wsdl:part name="parameters" element="intf:altaInteraccionAccionCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="altaInteraccionAccionCallbackRequest">
    <wsdl:part name="parameters" element="intf:altaInteraccionAccionCallback" />
  </wsdl:message>
  <wsdl:message name="ValidacionInteraccionAccionCallbackWSException">
    <wsdl:part name="fault" element="tns4:ValidacionInteraccionAccionCallbackWSException" />
  </wsdl:message>
  <wsdl:message name="EstadoAccionCallbackWSException">
    <wsdl:part name="fault" element="tns4:EstadoAccionCallbackWSException" />
  </wsdl:message>
  <wsdl:message name="AlarmFechaInferiorFechaDiaWS">
    <wsdl:part name="fault" element="tns4:AlarmFechaInferiorFechaDiaWS" />
  </wsdl:message>
  <wsdl:message name="NoHayDatosWSException">
    <wsdl:part name="fault" element="tns4:NoHayDatosWSException" />
  </wsdl:message>
  <wsdl:message name="ParametroNuloWSException">
    <wsdl:part name="fault" element="tns4:ParametroNuloWSException" />
  </wsdl:message>
  <wsdl:message name="FaltanTodosDatosObliWSException">
    <wsdl:part name="fault" element="tns4:FaltanTodosDatosObliWSException" />
  </wsdl:message>
  <wsdl:portType name="AltaInteraccionAccionCallback">
    <wsdl:operation name="altaInteraccionAccionCallback">
      <wsdl:input name="altaInteraccionAccionCallbackRequest" message="intf:altaInteraccionAccionCallbackRequest" />
      <wsdl:output name="altaInteraccionAccionCallbackResponse" message="intf:altaInteraccionAccionCallbackResponse" />
      <wsdl:fault name="ParametroNuloWSException" message="intf:ParametroNuloWSException" />
      <wsdl:fault name="FaltanTodosDatosObliWSException" message="intf:FaltanTodosDatosObliWSException" />
      <wsdl:fault name="BeanArquitecturaNuloWSException" message="intf:BeanArquitecturaNuloWSException" />
      <wsdl:fault name="AlarmFechaInferiorFechaDiaWS" message="intf:AlarmFechaInferiorFechaDiaWS" />
      <wsdl:fault name="ValidacionInteraccionAccionCallbackWSException" message="intf:ValidacionInteraccionAccionCallbackWSException" />
      <wsdl:fault name="EstadoAccionCallbackWSException" message="intf:EstadoAccionCallbackWSException" />
      <wsdl:fault name="NoHayDatosWSException" message="intf:NoHayDatosWSException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AltaInteraccionAccionCallbackSoapBinding" type="intf:AltaInteraccionAccionCallback">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="altaInteraccionAccionCallback">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="altaInteraccionAccionCallbackRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="altaInteraccionAccionCallbackResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaltanTodosDatosObliWSException">
        <wsdlsoap:fault use="literal" name="FaltanTodosDatosObliWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ParametroNuloWSException">
        <wsdlsoap:fault use="literal" name="ParametroNuloWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BeanArquitecturaNuloWSException">
        <wsdlsoap:fault use="literal" name="BeanArquitecturaNuloWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidacionInteraccionAccionCallbackWSException">
        <wsdlsoap:fault use="literal" name="ValidacionInteraccionAccionCallbackWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AlarmFechaInferiorFechaDiaWS">
        <wsdlsoap:fault use="literal" name="AlarmFechaInferiorFechaDiaWS" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EstadoAccionCallbackWSException">
        <wsdlsoap:fault use="literal" name="EstadoAccionCallbackWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NoHayDatosWSException">
        <wsdlsoap:fault use="literal" name="NoHayDatosWSException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AltaInteraccionAccionCallbackService">
    <wsdl:port name="AltaInteraccionAccionCallback" binding="intf:AltaInteraccionAccionCallbackSoapBinding">
      <wsdlsoap:address location="http://localhost:9080/FICWSWEB/services/AltaInteraccionAccionCallback" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>