net/SMG.Web/App_WebReferences/AltaInteraccionCallback_INT/AltaInteraccionAccionCallbackWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://accion.atc.dom.delta.iberdrola.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AltaInteraccionAccionCallbackWSService" targetNamespace="http://accion.atc.dom.delta.iberdrola.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://accion.atc.dom.delta.iberdrola.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="AlarmFechaInferiorFechaDiaWS" type="tns:AlarmFechaInferiorFechaDiaWS" />
      <xs:element name="EstadoAccionCallbackWSException" type="tns:EstadoAccionCallbackWSException" />
      <xs:element name="FaltanTodosDatosObliWSException" type="tns:FaltanTodosDatosObliWSException" />
      <xs:element name="NoHayDatosWSException" type="tns:NoHayDatosWSException" />
      <xs:element name="ParametroNuloWSException" type="tns:ParametroNuloWSException" />
      <xs:element name="ValidacionInteraccionAccionCallbackWSException" type="tns:ValidacionInteraccionAccionCallbackWSException" />
      <xs:element name="altaInteraccionAccionCallback" type="tns:altaInteraccionAccionCallback" />
      <xs:element name="altaInteraccionAccionCallbackResponse" type="tns:altaInteraccionAccionCallbackResponse" />
      <xs:complexType name="altaInteraccionAccionCallback">
        <xs:sequence>
          <xs:element minOccurs="0" name="altaInteraccionAccionCallbackEJBVO" type="tns:altaInteraccionAccionCallbackEJBWSVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="altaInteraccionAccionCallbackEJBWSVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="asignacionDepto" type="xs:string" />
          <xs:element minOccurs="0" name="codAccionCliente" type="xs:double" />
          <xs:element minOccurs="0" name="codCallbackCli" type="xs:string" />
          <xs:element minOccurs="0" name="codClaEntAdicio" type="xs:string" />
          <xs:element minOccurs="0" name="codClaveEntidad" type="xs:string" />
          <xs:element minOccurs="0" name="codCliente" type="xs:string" />
          <xs:element minOccurs="0" name="codEntidad" type="xs:string" />
          <xs:element minOccurs="0" name="codIdentCanal" type="xs:string" />
          <xs:element minOccurs="0" name="codInteracCli" type="xs:double" />
          <xs:element minOccurs="0" name="codMotAccCli" type="xs:string" />
          <xs:element minOccurs="0" name="codSociedad" type="xs:short" />
          <xs:element minOccurs="0" name="codSubtipAccCli" type="xs:string" />
          <xs:element minOccurs="0" name="codTipAccCli" type="xs:string" />
          <xs:element minOccurs="0" name="codUsuarioInteraccion" type="xs:string" />
          <xs:element minOccurs="0" name="comentario" type="xs:string" />
          <xs:element minOccurs="0" name="desComentario" type="xs:string" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="fechaCallback" type="xs:string" />
          <xs:element minOccurs="0" name="fechaHoraInteraccion" type="xs:string" />
          <xs:element minOccurs="0" name="horaCallback" type="xs:string" />
          <xs:element minOccurs="0" name="indAltaCallback" type="xs:string" />
          <xs:element minOccurs="0" name="indModifMovil" type="xs:string" />
          <xs:element minOccurs="0" name="telefonoContacto" type="xs:string" />
          <xs:element minOccurs="0" name="tipCanal" type="xs:string" />
          <xs:element minOccurs="0" name="tipEstAccionCli" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="altaInteraccionAccionCallbackResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:codigoInteraccionAccionCallbackEJBWSVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="codigoInteraccionAccionCallbackEJBWSVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="beanArqRetWs" type="tns:beanArqRetWS" />
          <xs:element minOccurs="0" name="codAccionCliente" type="xs:double" />
          <xs:element minOccurs="0" name="codCallbackCli" type="xs:double" />
          <xs:element minOccurs="0" name="codInteraccion" type="xs:double" />
          <xs:element minOccurs="0" name="fechaHoraInter" type="xs:string" />
          <xs:element minOccurs="0" name="indModifTfno" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="beanArqRetWS">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listaMensajes" nillable="true" type="tns:mensajeArqWS" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mensajeArqWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="codMensaje" type="xs:string" />
          <xs:element minOccurs="0" name="codNivel" type="xs:string" />
          <xs:element minOccurs="0" name="datoEntidad" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FaltanTodosDatosObliWSException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NoHayDatosWSException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParametroNuloWSException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidacionInteraccionAccionCallbackWSException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EstadoAccionCallbackWSException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AlarmFechaInferiorFechaDiaWS">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="altaInteraccionAccionCallback">
    <part name="parameters" element="tns:altaInteraccionAccionCallback" />
  </message>
  <message name="altaInteraccionAccionCallbackResponse">
    <part name="parameters" element="tns:altaInteraccionAccionCallbackResponse" />
  </message>
  <message name="FaltanTodosDatosObliWSException">
    <part name="fault" element="tns:FaltanTodosDatosObliWSException" />
  </message>
  <message name="NoHayDatosWSException">
    <part name="fault" element="tns:NoHayDatosWSException" />
  </message>
  <message name="ParametroNuloWSException">
    <part name="fault" element="tns:ParametroNuloWSException" />
  </message>
  <message name="ValidacionInteraccionAccionCallbackWSException">
    <part name="fault" element="tns:ValidacionInteraccionAccionCallbackWSException" />
  </message>
  <message name="EstadoAccionCallbackWSException">
    <part name="fault" element="tns:EstadoAccionCallbackWSException" />
  </message>
  <message name="AlarmFechaInferiorFechaDiaWS">
    <part name="fault" element="tns:AlarmFechaInferiorFechaDiaWS" />
  </message>
  <portType name="AltaInteraccionAccionCallbackWSDelegate">
    <operation name="altaInteraccionAccionCallback">
      <input wsam:Action="http://accion.atc.dom.delta.iberdrola.com/AltaInteraccionAccionCallbackWSDelegate/altaInteraccionAccionCallbackRequest" message="tns:altaInteraccionAccionCallback" />
      <output wsam:Action="http://accion.atc.dom.delta.iberdrola.com/AltaInteraccionAccionCallbackWSDelegate/altaInteraccionAccionCallbackResponse" message="tns:altaInteraccionAccionCallbackResponse" />
      <fault wsam:Action="http://accion.atc.dom.delta.iberdrola.com/AltaInteraccionAccionCallbackWSDelegate/altaInteraccionAccionCallback/Fault/FaltanTodosDatosObliWSException" name="FaltanTodosDatosObliWSException" message="tns:FaltanTodosDatosObliWSException" />
      <fault wsam:Action="http://accion.atc.dom.delta.iberdrola.com/AltaInteraccionAccionCallbackWSDelegate/altaInteraccionAccionCallback/Fault/NoHayDatosWSException" name="NoHayDatosWSException" message="tns:NoHayDatosWSException" />
      <fault wsam:Action="http://accion.atc.dom.delta.iberdrola.com/AltaInteraccionAccionCallbackWSDelegate/altaInteraccionAccionCallback/Fault/ParametroNuloWSException" name="ParametroNuloWSException" message="tns:ParametroNuloWSException" />
      <fault wsam:Action="http://accion.atc.dom.delta.iberdrola.com/AltaInteraccionAccionCallbackWSDelegate/altaInteraccionAccionCallback/Fault/ValidacionInteraccionAccionCallbackWSException" name="ValidacionInteraccionAccionCallbackWSException" message="tns:ValidacionInteraccionAccionCallbackWSException" />
      <fault wsam:Action="http://accion.atc.dom.delta.iberdrola.com/AltaInteraccionAccionCallbackWSDelegate/altaInteraccionAccionCallback/Fault/EstadoAccionCallbackWSException" name="EstadoAccionCallbackWSException" message="tns:EstadoAccionCallbackWSException" />
      <fault wsam:Action="http://accion.atc.dom.delta.iberdrola.com/AltaInteraccionAccionCallbackWSDelegate/altaInteraccionAccionCallback/Fault/AlarmFechaInferiorFechaDiaWS" name="AlarmFechaInferiorFechaDiaWS" message="tns:AlarmFechaInferiorFechaDiaWS" />
    </operation>
  </portType>
  <binding name="AltaInteraccionAccionCallbackWSPortBinding" type="tns:AltaInteraccionAccionCallbackWSDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="altaInteraccionAccionCallback">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="FaltanTodosDatosObliWSException">
        <soap:fault use="literal" name="FaltanTodosDatosObliWSException" namespace="" />
      </fault>
      <fault name="NoHayDatosWSException">
        <soap:fault use="literal" name="NoHayDatosWSException" namespace="" />
      </fault>
      <fault name="ParametroNuloWSException">
        <soap:fault use="literal" name="ParametroNuloWSException" namespace="" />
      </fault>
      <fault name="ValidacionInteraccionAccionCallbackWSException">
        <soap:fault use="literal" name="ValidacionInteraccionAccionCallbackWSException" namespace="" />
      </fault>
      <fault name="EstadoAccionCallbackWSException">
        <soap:fault use="literal" name="EstadoAccionCallbackWSException" namespace="" />
      </fault>
      <fault name="AlarmFechaInferiorFechaDiaWS">
        <soap:fault use="literal" name="AlarmFechaInferiorFechaDiaWS" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="AltaInteraccionAccionCallbackWSService">
    <port name="AltaInteraccionAccionCallbackWSPort" binding="tns:AltaInteraccionAccionCallbackWSPortBinding">
      <soap:address location="http://wwwi.iberdrola.es/sicws/sii/AltaInteraccionAccionCallbackWSService" />
    </port>
  </service>
</definitions>