net/SMG.Web/App_WebReferences/Commons/Modules/Authentication/BLL/AceptarCondicionWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.usu.dom.delta.iberdrola.com/" name="AceptarCondicionWSService" targetNamespace="http://ws.usu.dom.delta.iberdrola.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://ws.usu.dom.delta.iberdrola.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="aceptarCondicion" type="tns:aceptarCondicion" />
      <xs:element name="aceptarCondicionResponse" type="tns:aceptarCondicionResponse" />
      <xs:complexType name="aceptarCondicion">
        <xs:sequence>
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
          <xs:element minOccurs="0" name="negocio" type="xs:string" />
          <xs:element minOccurs="0" name="version" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="aceptarCondicionResponse" />
      <xs:complexType name="condicionesFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="faultCode" type="xs:string" />
          <xs:element minOccurs="0" name="faultString" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns1="http://ws.usu.dom.delta.iberdrola.com/" targetNamespace="http://exception.ws.usu.dom.delta.iberdrola.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://ws.usu.dom.delta.iberdrola.com/" />
      <xs:element name="CondicionesFault" nillable="true" type="ns1:condicionesFault" />
    </xs:schema>
  </types>
  <message name="aceptarCondicion">
    <part name="parameters" element="tns:aceptarCondicion" />
  </message>
  <message name="aceptarCondicionResponse">
    <part name="parameters" element="tns:aceptarCondicionResponse" />
  </message>
  <message name="CondicionesWSException">
    <part xmlns:ns1="http://exception.ws.usu.dom.delta.iberdrola.com/" name="fault" element="ns1:CondicionesFault" />
  </message>
  <portType name="AceptarCondicionWSDelegate">
    <operation name="aceptarCondicion">
      <input message="tns:aceptarCondicion" />
      <output message="tns:aceptarCondicionResponse" />
      <fault name="CondicionesWSException" message="tns:CondicionesWSException" />
    </operation>
  </portType>
  <binding name="AceptarCondicionWSPortBinding" type="tns:AceptarCondicionWSDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="aceptarCondicion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CondicionesWSException">
        <soap:fault use="literal" name="CondicionesWSException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="AceptarCondicionWSService">
    <port name="AceptarCondicionWSPort" binding="tns:AceptarCondicionWSPortBinding">
      <soap:address location="https://www.iberdrola.es/sicws/sii/AceptarCondicionWSService" />
    </port>
  </service>
</definitions>