net/SMG.Web/App_WebReferences/Commons/Modules/Authentication/BLL/ConsultaNuevasCondicionesWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.usu.dom.delta.iberdrola.com/" name="ConsultaNuevasCondicionesWSService" targetNamespace="http://ws.usu.dom.delta.iberdrola.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://ws.usu.dom.delta.iberdrola.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="consultaNuevasCondiciones" type="tns:consultaNuevasCondiciones" />
      <xs:element name="consultaNuevasCondicionesResponse" type="tns:consultaNuevasCondicionesResponse" />
      <xs:complexType name="consultaNuevasCondiciones">
        <xs:sequence>
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
          <xs:element minOccurs="0" name="negocio" type="xs:string" />
          <xs:element minOccurs="0" name="usuarioDNI" type="xs:string" />
          <xs:element minOccurs="0" name="codIdioma" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultaNuevasCondicionesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:nuevaCondicionVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nuevaCondicionVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="codVersion" type="xs:string" />
          <xs:element minOccurs="0" name="existeNueva" type="xs:string" />
          <xs:element minOccurs="0" name="textoCond" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="condicionesFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="faultCode" type="xs:string" />
          <xs:element minOccurs="0" name="faultString" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns1="http://ws.usu.dom.delta.iberdrola.com/" targetNamespace="http://exception.ws.usu.dom.delta.iberdrola.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://ws.usu.dom.delta.iberdrola.com/" />
      <xs:element name="CondicionesFault" nillable="true" type="ns1:condicionesFault" />
    </xs:schema>
  </types>
  <message name="consultaNuevasCondiciones">
    <part name="parameters" element="tns:consultaNuevasCondiciones" />
  </message>
  <message name="consultaNuevasCondicionesResponse">
    <part name="parameters" element="tns:consultaNuevasCondicionesResponse" />
  </message>
  <message name="CondicionesWSException">
    <part xmlns:ns1="http://exception.ws.usu.dom.delta.iberdrola.com/" name="fault" element="ns1:CondicionesFault" />
  </message>
  <portType name="ConsultaNuevasCondicionesWSDelegate">
    <operation name="consultaNuevasCondiciones">
      <input message="tns:consultaNuevasCondiciones" />
      <output message="tns:consultaNuevasCondicionesResponse" />
      <fault name="CondicionesWSException" message="tns:CondicionesWSException" />
    </operation>
  </portType>
  <binding name="ConsultaNuevasCondicionesWSPortBinding" type="tns:ConsultaNuevasCondicionesWSDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultaNuevasCondiciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CondicionesWSException">
        <soap:fault use="literal" name="CondicionesWSException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ConsultaNuevasCondicionesWSService">
    <port name="ConsultaNuevasCondicionesWSPort" binding="tns:ConsultaNuevasCondicionesWSPortBinding">
      <soap:address location="https://wwwintg29.iberdrola.es/sicws/sii/ConsultaNuevasCondicionesWSService" />
    </port>
  </service>
</definitions>